
<div id="header">
<h1> Komodo on Rails Address Menu</h1>
 <%= stylesheet_link_tag "style" %>
</div>



<div id = "header">
<%=link_to "Get Address Balance", addressbalance_path%>
<%=link_to "Get Snapshot of Wallet", snapshotwallet_path%>

</div>