
<%= form_tag :action => 'addressbalancesuccess', :controller => 'address' do %>
<h1> Get Address Balanace</h1>
<%=label_tag "Enter your parameter:"%>
<%=text_field_tag "balanceparam" %>

<%=submit_tag "Submit"%>
<%end%>





