

 
 div#container {
    width: 760px;
    margin: 0 auto;
 }
 
 div#header {
    text-align: center;
    padding-bottom: 15px;
 }
 
 div#content {
    float: left;
    width: 450px;
    padding: 10px;
 }
 
 .btn-green {
    border: none;
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }